In [2]:
import numpy as np
import tensorflow as tf
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
df1 = pd.read_csv('dados_ultimos2_dias.csv')
df1.isnull().sum()

Unnamed: 0    0
id            0
home          0
away          0
home_goals    0
away_goals    0
tot_goals     0
odd_over      0
odd_under     0
goals_odd     0
dtype: int64

In [22]:
df1.dropna(inplace=True)
df1.isnull().sum()

id            0
home          0
away          0
home_goals    0
away_goals    0
tot_goals     0
odd_over      0
odd_under     0
goals_odd     0
dtype: int64

In [9]:
df1

,Unnamed: 0,id,home,away,home_goals,away_goals,tot_goals,odd_over,odd_under,goals_odd
0,0,172006763,11265335,11239770,2.0,1.0,3.0,1.071,7.5,2.5
1,1,172006766,11240527,11265336,2.0,0.0,2.0,1.111,6.0,2.5
2,2,172006768,11265335,11259408,2.0,0.0,2.0,1.166,4.5,2.5
3,3,172006770,11265336,11239770,2.0,4.0,6.0,1.015,12.0,2.5
4,4,172006772,11240527,11259408,3.0,2.0,5.0,1.100,6.5,2.5
...,...,...,...,...,...,...,...,...,...,...
1021,1170,172113642,11230347,11227231,2.0,2.0,4.0,1.100,6.5,2.5
1022,1171,172113652,11227231,11226659,3.0,3.0,6.0,1.125,5.5,2.5
1023,1172,172113657,11237649,11225713,1.0,2.0,3.0,1.125,5.5,2.5
1024,1173,172114276,11231527,11237644,8.0,3.0,11.0,1.025,10.5,2.5
1025,1174,172114279,11224934,11231778,2.0,0.0,2.0,1.071,7.5,2.5

In [10]:
df1.drop(columns=['Unnamed: 0','id', 'home', 'away'])
df1.columns

Index(['Unnamed: 0', 'id', 'home', 'away', 'home_goals', 'away_goals',
       'tot_goals', 'odd_over', 'odd_under', 'goals_odd'],
      dtype='object')

In [25]:
df1['res'] = (df1['tot_goals'] > df1['goals_odd']).astype(int)
df1

,id,home,away,home_goals,away_goals,tot_goals,odd_over,odd_under,goals_odd,res
0,172006763,11265335,11239770,2.0,1.0,3.0,1.071,7.500,2.5,1
1,172006766,11240527,11265336,2.0,0.0,2.0,1.111,6.000,2.5,0
2,172006768,11265335,11259408,2.0,0.0,2.0,1.166,4.500,2.5,0
3,172006770,11265336,11239770,2.0,4.0,6.0,1.015,12.000,2.5,1
4,172006772,11240527,11259408,3.0,2.0,5.0,1.100,6.500,2.5,1
...,...,...,...,...,...,...,...,...,...,...
581,172058000,11227232,11228910,1.0,4.0,5.0,1.200,4.333,2.5,1
582,172058614,11237991,11232156,1.0,1.0,2.0,1.200,4.333,2.5,0
583,172058621,11223211,11232155,3.0,2.0,5.0,1.200,4.333,2.5,1
584,172058004,11228910,11225723,2.0,1.0,3.0,1.222,4.000,2.5,1
585,172058011,11224382,11225716,4.0,1.0,5.0,1.040,9.000,2.5,1

In [27]:
df1['goals_odd'].unique()

array([2.5])

In [28]:
X = df1[['home_goals', 'away_goals', 'tot_goals', 'odd_over', 'odd_under']]
y = df1['res']

In [ ]:
from sklearn.preprocessing import StandardScaler

# Inicializando o StandardScaler
scaler = StandardScaler()

# Ajustando o scaler e transformando os dados
X_standardized = scaler.fit_transform(X)