In [142]:
import numpy as np
import tensorflow as tf
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [143]:
df1 = pd.read_csv('dados_ultimos_3_dias.csv')
df1

,Unnamed: 0,id,home,away,home_goals,away_goals,tot_goals,odd_over,odd_under,goals_odd
0,0,172006763,11265335,11239770,2.0,1.0,3.0,1.071,7.5,2.5
1,1,172006766,11240527,11265336,2.0,0.0,2.0,1.111,6.0,2.5
2,2,172006768,11265335,11259408,2.0,0.0,2.0,1.166,4.5,2.5
3,3,172006770,11265336,11239770,2.0,4.0,6.0,1.015,12.0,2.5
4,4,172006772,11240527,11259408,3.0,2.0,5.0,1.100,6.5,2.5
...,...,...,...,...,...,...,...,...,...,...
1385,1385,172190962,11224382,11225716,5.0,3.0,8.0,1.062,8.0,2.5
1386,1386,172191107,11225716,11230918,3.0,3.0,6.0,1.166,4.5,2.5
1387,1387,172168193,11227254,11235358,1.0,3.0,4.0,1.222,4.0,2.5
1388,1388,172191014,11235358,11225716,4.0,3.0,7.0,1.083,7.0,2.5
1389,1389,172191072,11230918,11224382,2.0,1.0,3.0,1.111,6.0,2.5

In [144]:
df1.dropna(inplace=True)
df1.isnull().sum()

Unnamed: 0    0
id            0
home          0
away          0
home_goals    0
away_goals    0
tot_goals     0
odd_over      0
odd_under     0
goals_odd     0
dtype: int64

In [145]:
df1

,Unnamed: 0,id,home,away,home_goals,away_goals,tot_goals,odd_over,odd_under,goals_odd
0,0,172006763,11265335,11239770,2.0,1.0,3.0,1.071,7.5,2.5
1,1,172006766,11240527,11265336,2.0,0.0,2.0,1.111,6.0,2.5
2,2,172006768,11265335,11259408,2.0,0.0,2.0,1.166,4.5,2.5
3,3,172006770,11265336,11239770,2.0,4.0,6.0,1.015,12.0,2.5
4,4,172006772,11240527,11259408,3.0,2.0,5.0,1.100,6.5,2.5
...,...,...,...,...,...,...,...,...,...,...
1385,1385,172190962,11224382,11225716,5.0,3.0,8.0,1.062,8.0,2.5
1386,1386,172191107,11225716,11230918,3.0,3.0,6.0,1.166,4.5,2.5
1387,1387,172168193,11227254,11235358,1.0,3.0,4.0,1.222,4.0,2.5
1388,1388,172191014,11235358,11225716,4.0,3.0,7.0,1.083,7.0,2.5
1389,1389,172191072,11230918,11224382,2.0,1.0,3.0,1.111,6.0,2.5

In [146]:
df1.drop(columns=['Unnamed: 0','id', 'home', 'away'])
df1.columns

Index(['Unnamed: 0', 'id', 'home', 'away', 'home_goals', 'away_goals',
       'tot_goals', 'odd_over', 'odd_under', 'goals_odd'],
      dtype='object')

In [147]:
df1['res'] = (df1['tot_goals'] > df1['goals_odd']).astype(int)
df1

,Unnamed: 0,id,home,away,home_goals,away_goals,tot_goals,odd_over,odd_under,goals_odd,res
0,0,172006763,11265335,11239770,2.0,1.0,3.0,1.071,7.5,2.5,1
1,1,172006766,11240527,11265336,2.0,0.0,2.0,1.111,6.0,2.5,0
2,2,172006768,11265335,11259408,2.0,0.0,2.0,1.166,4.5,2.5,0
3,3,172006770,11265336,11239770,2.0,4.0,6.0,1.015,12.0,2.5,1
4,4,172006772,11240527,11259408,3.0,2.0,5.0,1.100,6.5,2.5,1
...,...,...,...,...,...,...,...,...,...,...,...
1385,1385,172190962,11224382,11225716,5.0,3.0,8.0,1.062,8.0,2.5,1
1386,1386,172191107,11225716,11230918,3.0,3.0,6.0,1.166,4.5,2.5,1
1387,1387,172168193,11227254,11235358,1.0,3.0,4.0,1.222,4.0,2.5,1
1388,1388,172191014,11235358,11225716,4.0,3.0,7.0,1.083,7.0,2.5,1
1389,1389,172191072,11230918,11224382,2.0,1.0,3.0,1.111,6.0,2.5,1

In [148]:
df1['goals_odd'].unique()

array([2.5])

In [149]:
X = df1[['odd_over', 'odd_under']]
y = df1['res']

In [41]:
y

0       1
1       0
2       0
3       1
4       1
       ..
1021    1
1022    1
1023    1
1024    1
1025    0
Name: res, Length: 1026, dtype: int64

In [150]:


# Inicializando o StandardScaler
scaler = MinMaxScaler()

# Ajustando o scaler e transformando os dados
X_standardized = scaler.fit_transform(X)

In [151]:
y

0       1
1       0
2       0
3       1
4       1
       ..
1385    1
1386    1
1387    1
1388    1
1389    1
Name: res, Length: 1390, dtype: int64

In [152]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X_standardized, y, random_state=42, test_size=0.2)

In [97]:
import smote
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)

NameError: name 'SMOTE' is not defined

In [165]:
np.unique(df1['goals_odd'], return_counts=True)

(array([2.5]), array([1390]))

In [154]:
np.unique(df1['res'], return_counts=True)

(array([0, 1]), array([ 212, 1178]))

In [155]:
from tensorflow.keras import backend as K

def focal_loss(alpha=0.25, gamma=2.0):
    def loss(y_true, y_pred):
        bce = K.binary_crossentropy(y_true, y_pred)
        p_t = y_true * y_pred + (1 - y_true) * (1 - y_pred)
        loss = alpha * (1 - p_t) ** gamma * bce
        return K.mean(loss)
    return loss

In [156]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(50, activation='relu'),
    tf.keras.layers.Dense(50, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
    
])

In [157]:
model.compile(optimizer='adam', loss=focal_loss(), metrics=['accuracy'])

In [158]:
model.fit(x_train,y_train, epochs=50, validation_data=(x_test, y_test))

Epoch 1/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 2s 11ms/step - accuracy: 0.7963 - loss: 0.0367 - val_accuracy: 0.8777 - val_loss: 0.0247
Epoch 2/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8502 - loss: 0.0271 - val_accuracy: 0.8777 - val_loss: 0.0243
Epoch 3/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8416 - loss: 0.0276 - val_accuracy: 0.8777 - val_loss: 0.0240
Epoch 4/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8355 - loss: 0.0279 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 5/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8404 - loss: 0.0275 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 6/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8235 - loss: 0.0290 - val_accuracy: 0.8777 - val_loss: 0.0238
Epoch 7/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8392 - loss: 0.0274 - val_accuracy: 0.8777 - val_loss: 0.0240
Epoch 8/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8227 - loss: 0.0297 - val_accuracy: 0.8777 - val_loss: 0.0238
Epoch 9/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8387 - loss: 0.0279 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 10/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8374 - loss: 0.0276 - val_accuracy: 0.8777 - val_loss: 0.0238
Epoch 11/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8285 - loss: 0.0282 - val_accuracy: 0.8777 - val_loss: 0.0241
Epoch 12/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8408 - loss: 0.0277 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 13/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8434 - loss: 0.0276 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 14/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8441 - loss: 0.0271 - val_accuracy: 0.8777 - val_loss: 0.0242
Epoch 15/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8459 - loss: 0.0267 - val_accuracy: 0.8777 - val_loss: 0.0241
Epoch 16/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8333 - loss: 0.0277 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 17/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8459 - loss: 0.0280 - val_accuracy: 0.8777 - val_loss: 0.0241
Epoch 18/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8337 - loss: 0.0281 - val_accuracy: 0.8777 - val_loss: 0.0238
Epoch 19/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8440 - loss: 0.0271 - val_accuracy: 0.8777 - val_loss: 0.0240
Epoch 20/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8539 - loss: 0.0262 - val_accuracy: 0.8777 - val_loss: 0.0243
Epoch 21/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8493 - loss: 0.0266 - val_accuracy: 0.8777 - val_loss: 0.0241
Epoch 22/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8551 - loss: 0.0260 - val_accuracy: 0.8777 - val_loss: 0.0241
Epoch 23/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8263 - loss: 0.0290 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 24/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8283 - loss: 0.0289 - val_accuracy: 0.8777 - val_loss: 0.0237
Epoch 25/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8393 - loss: 0.0271 - val_accuracy: 0.8777 - val_loss: 0.0242
Epoch 26/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8519 - loss: 0.0256 - val_accuracy: 0.8777 - val_loss: 0.0240
Epoch 27/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8598 - loss: 0.0253 - val_accuracy: 0.8741 - val_loss: 0.0243
Epoch 28/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8567 - loss: 0.0263 - val_accuracy: 0.8741 - val_loss: 0.0244
Epoch 29/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8354 - loss: 0.0271 - val_accuracy: 0.8777 - val_loss: 0.0238
Epoch 30/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8219 - loss: 0.0292 - val_accuracy: 0.8777 - val_loss: 0.0238
Epoch 31/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8370 - loss: 0.0278 - val_accuracy: 0.8741 - val_loss: 0.0240
Epoch 32/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8429 - loss: 0.0270 - val_accuracy: 0.8777 - val_loss: 0.0238
Epoch 33/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8405 - loss: 0.0272 - val_accuracy: 0.8777 - val_loss: 0.0240
Epoch 34/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8328 - loss: 0.0278 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 35/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8559 - loss: 0.0264 - val_accuracy: 0.8741 - val_loss: 0.0243
Epoch 36/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8357 - loss: 0.0280 - val_accuracy: 0.8741 - val_loss: 0.0240
Epoch 37/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8302 - loss: 0.0279 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 38/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8370 - loss: 0.0272 - val_accuracy: 0.8741 - val_loss: 0.0240
Epoch 39/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8346 - loss: 0.0278 - val_accuracy: 0.8741 - val_loss: 0.0238
Epoch 40/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8301 - loss: 0.0282 - val_accuracy: 0.8741 - val_loss: 0.0239
Epoch 41/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8359 - loss: 0.0275 - val_accuracy: 0.8741 - val_loss: 0.0240
Epoch 42/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8302 - loss: 0.0288 - val_accuracy: 0.8777 - val_loss: 0.0238
Epoch 43/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8478 - loss: 0.0271 - val_accuracy: 0.8741 - val_loss: 0.0241
Epoch 44/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8327 - loss: 0.0285 - val_accuracy: 0.8777 - val_loss: 0.0237
Epoch 45/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8338 - loss: 0.0282 - val_accuracy: 0.8741 - val_loss: 0.0239
Epoch 46/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8489 - loss: 0.0264 - val_accuracy: 0.8741 - val_loss: 0.0240
Epoch 47/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8321 - loss: 0.0278 - val_accuracy: 0.8741 - val_loss: 0.0241
Epoch 48/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8340 - loss: 0.0281 - val_accuracy: 0.8777 - val_loss: 0.0239
Epoch 49/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8406 - loss: 0.0278 - val_accuracy: 0.8741 - val_loss: 0.0240
Epoch 50/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8409 - loss: 0.0274 - val_accuracy: 0.8777 - val_loss: 0.0240

In [159]:
model.evaluate(x_test, y_test)

9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8870 - loss: 0.0231

[0.023952174931764603, 0.8776978254318237]

In [160]:
re = model.predict(x_test)

9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step

In [126]:
np.unique(re < 0.53, return_counts=True)

(array([False,  True]), array([204,   2]))

In [162]:
re = (re >= 0.5)

In [163]:
from sklearn.metrics import confusion_matrix
cf = confusion_matrix(pd.Series.to_numpy(y_test), re)

In [164]:
cf

array([[  5,  29],
       [  9, 235]])